@use "../base/helpers" as *;

.button-icon {
  --size: #{rem(30)};

  @include flex-center;
  @include square(var(--size));

  &__search {
    @include square(16px);
    @include hover {
      border-color: var(--color-dark-80);
    }

    position: relative;
    border: 2px solid var(--color-dark-40);
    border-radius: var(--border-radius);

    &::after {
      position: absolute;
      content: "";
      width: rem(7);
      height: rem(2);
      border-radius: 10px;
      top: 12px;
      left: 10px;
      rotate: 45deg;
      background-color: var(--color-dark-40);
    }

    @include hover {
      &::after {
        background-color: var(--color-dark-80);
      }
    }
  }

  &__sign-in-button {
    --size-sign-in: #{rem(24)};

    @include flex-center;
    @include square(var(--size-sign-in));

    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 17px;
      height: 7px;
      border: 2px solid var(--color-dark-40);
      border-bottom: none;
      border-radius: 5px 5px 0 0;
      top: 13px;
      left: 2px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      border: 2px solid var(--color-dark-40);
      border-radius: 50%;
      top: 3px;
      left: 6px;
    }
  }
}
