@use "../base/helpers/" as *;

.grid {
    --gridColumns: 1;

    display: grid;
    grid-template-columns: repeat(var(--gridColumns), 1fr);
    column-gap: rem(40);
    row-gap: rem(48);

    @for $i from 2 through 12 {
        &--#{$i} {
          --gridColumns: #{$i};
        }
      }

      &--3 {
        row-gap: rem(48);
      }
}