@use "../base/helpers/" as *;

.search-form {
  position: relative;

  &__input {
    display: inline-block;
    max-width: rem(464);
    width: 100%;
    height: var(--input-height);
    padding: rem(12) rem(16);
    outline: none;
    border: 1px solid var(--color-dark-8);
    background-color: var(--color-dark-2);
    transition: all 0.3s ease;

    &:focus {
      border-color: var(--color-blue-button);
    }

    &:active {
      border-color: var(--color-blue-button);
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    right: rem(11);
    transform: translateY(-50%);
  }
}
