@use "helpers" as *;

:root {
  --color-light: #ffffff;
  --color-blue-button: #1e3daf;
  --color-gra-bg: #f5f5f5;
  --color-gra-alt: #c4c4c4;
  --color-dark: #2a2f37;

  --color-dark-rgb: 42, 47, 55;
  --color-dark-80: rgba(var(--color-dark-rgb), 0.8);
  --color-dark-60: rgba(var(--color-dark-rgb), 0.6);
  --color-dark-40: rgba(var(--color-dark-rgb), 0.4);
  --color-dark-20: rgba(var(--color-dark-rgb), 0.2);
  --color-dark-12: rgba(var(--color-dark-rgb), 0.12);
  --color-dark-8: rgba(var(--color-dark-rgb), 0.08);
  --color-dark-6: rgba(var(--color-dark-rgb), 0.06);
  --color-dark-2: rgba(var(--color-dark-rgb), 0.02);

  --border-radius: 50px;

  --font-family-base: "Roboto", "sans-serif";
  --font-family-accent: "Montserrat", "sans-serif";

  --container--width: #{rem(1170)};
  --container-padding-x: #{rem(15)};

  --input-height: #{rem(48)};

  --transition-duration: 0.2s;
}
